@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}
<div class="container">
    <div class="text-center m-4">
        <h2>Спасибо!</h2>
        <p>Спасибо за заказ!</p>
        <p>Мы свяжемся с Вами в ближайшее время.</p>
        <a asp-action="Index" asp-controller="Store" class="btn btn-primary">Ок</a>
    </div>
</div>