<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GameStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GameStore.styles.css" asp-append-version="true"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Store" asp-action="Index">GameStore</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (ViewBag.User is null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                    }
                    else {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Админ панель</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="d-flex align-items-center">
                @if (ViewBag.User is not null)
                {
                    <div class="text-light me-3">@ViewBag.User.Name</div>
                }
                @await Component.InvokeAsync("Cart", Context.Session)
                @if (ViewBag.User is not null)
                {
                    <a asp-action="Logout" asp-controller="Account" class="me-3">Выйти</a>
                }
            </div>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer class="border-top footer py-3 position-absolute bottom-0 w-100">
    <div class="container">
        <div class="text-center">
            &copy; 2024 - GameStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>